@use 'sass:map';
@use '2-mixins/px-to-rem-convert' as *;

//FONT-SIZES MAP

// large-heading and paragraph are examples here
//you can add and change the naming yourself and you will have classes of the same name with font-sizes starting from these correspdonding breakpoints
//you can also delete a breakpoint if you don't need a change in font-size starting from that specific breakpoint
//breakpoints to use : xs, sm, md, lg, xl ; others will not work unless you specify them in 5-helper-classes/page-typography

$font-sizes:
    (
        "large-heading" : 
        (
            "xs" : 45px,
            "sm" : 45px,
            "md" : 45px,
            "lg" : 75px,
            "xl" : 75px
        ),
        "paragraph" : 
        (
            "xs" : 20px,
            "sm" : 22px,
            "md" : 22px,
            "lg" : 30px,
            "xl" : 44px
        )
    );
    
/*
    =========
    Typography
    =========
*/

$font-family: 'Roboto', sans-serif;
//background colors
$primary-bg: #fff; 
$secondary-bg: #66B933;
$tertiary-bg: #000;
//font colors
$primary-font-color: #010100;
$secondary-font-color: #fff;
//headings in pixels, but will be converted to rems
$h1: rem(64);
$h2: rem(30);
$h3: rem(20);
$h4: rem(18);
$h5: rem(16);
$h6: rem(16);
$p: rem(18);

$primary-line-height: 1.5;

//font weight variables
$regular:   400;
$medium:    500;
$semi-bold: 600;
$bold:      700;

/*
    =========
    Responsive
    =========
*/

//Bootstrap Breakpoints INFO

//grid-breakpoints start value
$grid-breakpoints-start: (
    sm: 576px,
    md: 768px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px
);

$grid-breakpoints-end: (
    xs: 575px,
    sm: 767px,
    md: 991px,
    lg: 1199px,
    xl: 1399px
);

$mobile-end: map.get($grid-breakpoints-end, xs); 
//sm
$sm-start: map.get($grid-breakpoints-start, sm);
$sm-end: map.get($grid-breakpoints-end, sm);
//md
$md-start: map.get($grid-breakpoints-start, md);
$md-end: map.get($grid-breakpoints-end, md);
//lg
$lg-start: map.get($grid-breakpoints-start, lg);
$lg-end: map.get($grid-breakpoints-end, lg);
//xl
$xl-start: map.get($grid-breakpoints-start, xl);
$xl-end: map.get($grid-breakpoints-end, xl);
//xxl
$xxl-start: map.get($grid-breakpoints-start, xxl);

/*
    =========
    Other
    =========
*/

//Buttons

$button-color: #66B933;
$button-font-size: 1.6rem;
$button-padding: 0.5em 1.5em;
$button-margin: 0;

//Spacing 

$header-padding: 30px;
$section-padded: 3rem;
$margin-bottom-primary: 1.6rem; //used in base as default for paragraphs and all headings
$margin-bottom-secondary: 1.2rem;
$margin-bottom-tertiary: 1rem;

$padding-top-primary: $margin-bottom-primary;
$padding-top-secondary: $margin-bottom-secondary;
$padding-top-tertiary: $margin-bottom-tertiary;

//Extra
$popup-box-shadow: 2px 0px 25px rgba(#9A9EA6, .6);
$aspect-ratio-box-height: 315px;
$aspect-ratio-box-width: 560px;
$aspect-ratio-box-text: 5vw;

